section{
    background-color: #4d00dd;
    background: linear-gradient(
        to bottom,
        #2c0a4c,
        #450d80
    );
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    height: 100%;
    border-width: 3px;
    border-color: black;
    padding: 5px;
}

h1{
    font: inherit;
    font-size: x-large;
    margin: 10px;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #9965dd;
  border-radius: 4px;
  border: none;
  padding: 0.35rem 0.8rem;
  font-size: 0.9rem;
  margin: 5px;
}

.component{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

select{
    border-width: 2px;
    border-color: black;
    color: white;
    width: 100%;
    justify-content: end;
}

option{
    color: black;
    background-color: #9965dd;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
}