# Version control
.git

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache
.coverage
.coveragerc

# Environment
# .env
.venv
env/
venv/
ENV/

# IDE
.idea
.vscode
*.swp
*.swo


!requirements.txt

# Docker
Dockerfile*
docker-compose*